{% extends "main.html" %}

{% block title %}App List{% endblock %}

{% block pagetitle %}
<h1>Apps</h1>
{% endblock %}

{% block content %}
{% if apps %}
{% for app in apps %}
<ul class="app_list_elt">
<li class="app_title">{{ app.name }}</li>
<li class="app_desc">{{ app.description }}</li>
<ul>{% for inst in app.appinstance_set.all %}<li class="app_url"><a href="{{ inst.so_file.url }}">{{ inst.api_version.brand_version }}</a></li>{% endfor %}</ul>
</ul>
{% endfor %}
{% else %}
<p class="infobox">No apps currently available</p>
{% endif %}
{% endblock %}
