{% extends "main.html" %}
{% load staticfiles %}

{% block title %}App List{% endblock %}

{% block pagetitle %}
<h1><img src="{% static "Sailor_monkey.png" %}" />Apps</h1>
{% endblock %}

{% block content %}
{% if apps %}
{% for app in apps %}
<ul class="app_list_elt">
<li class="app_title"><a href="{% url apps/show_app app.shortname %}">{{ app.name }}</a></li>
<li class="app_desc">{{ app.description }}</li>
</ul>
{% endfor %}
{% else %}
<p class="infobox">No apps currently available.  Please <a href="{% url apps/my %}">upload some!</a></p>
{% endif %}
{% endblock %}
