{% load staticfiles %}
<html>
<head>
<title>{% block title %}App Store{% endblock %}</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "app_collection.css" %}" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
{% block css_js %}{% endblock %}
</head>
<body>
<div id="content_wrapper">
<div id="content">
{% block core_content %}{% endblock %}
</div>
</div>
</body>
</html>
