{% extends "core.html" %}
{% load staticfiles %}

{% block title %}App Store{% endblock %}

{% block core_content %}
<h1><img src="{% static "Sailor_monkey.png" %}" />VertiCapps</h1>

<table style="display: block; width: 100%;"><tr>
<td style="text-align: center">
<a href="{% url list_apps %}"><img src="{% static "homepage/Magnifying_Glass.png" %}" /><br />
Search
</a>
</td>
<td style="text-align: center">
<a href="{% url apps/my %}">
<img src="{% static "homepage/upload.png" %}" /><br />
Upload
</a>
</td>
</tr></table>

<br /><br />

<table style="display: block; width: 100%;"><tr>
<td style="text-align: center;">
<a href="{% url about %}"><img src="{% static "homepage/questionmark.png" %}" style="vertical-align: middle;" /> About</a>
</td>
<td style="text-align: center;">
<a href="{% url verticapp_download %}">Get verticapp.py <img src="{% static "homepage/download_icon.png" %}" style="vertical-align: middle;"></a>
</td>
</tr></table>

{% endblock %}
